.app-container {
    position: absolute;
    left: 12%;
    top: 17%;
}

.array-bar-container {
    background-color: white;
}

.array-bar {
    width: 10px;
    margin: 0 1px;
    display:inline-block;
    background-color: orange;
    color: s
}