.app-container {
    position: absolute;
    left: 30%;
    top: 25%;
}

.array-bar-container {
    background-color: white;
}

.array-bar {
    width: 3px;
    margin: 0 1px;
    display:inline-block;
    background-color: orange;
}