.app-container {
    height: 100%;
}

.array-bar-container {
    height: 600px;
    margin-top: 8%;
    margin-right: 2%;
    margin-left: 2%;
}

.array-bar {
    width: 10px;
    margin: 0 1px;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}

.buttons-container {
    margin-top: 2%;
}

.buttons-container button {
    margin: 10px;
}